<div id="cart-drawer" class="cart-drawer">
  <div class="cart-product">
    <h2>Your cart</h2>
    <div class="cart-content">
      {% form 'cart'
        , cart %}
        {% if cart.items.size > 0 %}
          {% for item in cart.items %}
            <div class="product-grid">
              {{ item.image | image_url: width: 200 | image_tag }}
              <div class="item-title">{{ item.title }}</div>
              <div class="item-price">{{ item.price | money }}</div>
              <input
                type="number"
                class="item-quantity"
                value={{ item.quantity }}>
              <a href="{{ item.url_to_remove }}">Remove</a>
            </div>
          {% endfor %}
        {% else %}
          <div class="cart-empty">Your cart is empty</div>
        {% endif %}

        <hr>

        <div class="cart-total">Total price: {{ cart.total_price | money }}</div>

        <input
          type="submit"
          name="checkout"
          value="Checkout">
      {% endform %}
    </div>
  </div>
</div>

<div
  id="cart-overlay"
  class="cart-overlay"
  onclick="toggleCartDrawer()"></div>

<script>
    function toggleCartDrawer() {
    var cartDrawer = document.getElementById('cart-drawer');
    var cartOverlay = document.getElementById('cart-overlay');
    
    cartDrawer.classList.toggle('open');
    cartOverlay.classList.toggle('open');
  }
</script>