<html>
  <head>
    {{ content_for_header }}
    {{ 'root.css' | asset_url | stylesheet_tag }}
    {{ 'search.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'shopify-money.js' |  asset_url }}" async></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script src="{{'main-product.js' |  asset_url}}" async></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
  </head>
  <body>
    {% render 'header' %}
    <div class="content">
      {% section 'cart-drawer' %}
      {{ content_for_layout }}
    </div>
    {% render 'footer' %}
  </body>
</html>