<h1>Cart</h1>

{% form 'cart'
  , cart %}
  {% if cart.items.size > 0 %}
    {% for item in cart.items %}
      <div class="product-grid">
        {{ item.image | image_url: width: 200 | image_tag }}
        <div class="item-title">{{ item.title }}</div>
        <div class="item-price">{{ item.price | money }}</div>
        <input
          type="number"
          class="item-quantity item-quantity-{{item.id}}"
          value={{ item.quantity }}
          onchange="updateProductQuantity(this, {{item.id}})">
        <a href="{{ item.url_to_remove }}">Remove</a>
      </div>
    {% endfor %}
  {% else %}
    <div class="cart-empty">Your cart is empty</div>
  {% endif %}

  <hr>

  <div class="cart-total">Total price: {{ cart.total_price | money }}</div>

  <input
    class="button-checkout"
    type="submit"
    name="checkout"
    value="Checkout"
    style="color: rgb(49, 49, 49); font-size: 30px; border: 1px solid #c0c0c0; padding: 10px; margin: 2px; border-radius: 10px;">
  <style>
    .button-checkout:hover {
      cursor: pointer;
      background-color: #ddd;
    }
  </style>
{% endform %}